In [37]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [38]:
data= pd.read_csv("/home/salim/Desktop/CRAI/Data/Medical_insurance_dataset.csv")

In [39]:
data

      User ID  Gender  Age  EstimatedSalary      Purchased
0    15624510    Male   19            19000  not-purchased
1    15810944    Male   35            20000  not-purchased
2    15668575  Female   26            43000  not-purchased
3    15603246  Female   27            57000  not-purchased
4    15804002    Male   19            76000  not-purchased
..        ...     ...  ...              ...            ...
395  15691863  Female   46            41000      purchased
396  15706071    Male   51            23000      purchased
397  15654296  Female   50            20000      purchased
398  15755018    Male   36            33000  not-purchased
399  15594041  Female   49            36000      purchased

[400 rows x 5 columns]

In [40]:

encoder = LabelEncoder()
data["Gender"]= encoder.fit_transform(data["Gender"])

X = data[["User ID", "Gender","Age","EstimatedSalary"]]
y= encoder.fit_transform(data["Purchased"])

In [41]:
X_train,X_test,y_train,y_test= train_test_split(X,y , test_size= 0.3, random_state=42)

X_train.shape,X_test.shape,y_train.shape,y_test.shape

((280, 4), (120, 4), (280,), (120,))

In [42]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [43]:
decision_model =DecisionTreeClassifier()
random_model = RandomForestClassifier()
kn_model = KNeighborsClassifier()

In [44]:
decision_model.fit(X_train,y_train)
random_model.fit(X_train,y_train)
kn_model.fit(X_train,y_train)

KNeighborsClassifier()

In [51]:
y_predict_decision = decision_model.predict(X_test)
y_predict_random = random_model.predict(X_test)
y_predict_kn= kn_model.predict(X_test)

In [54]:
accuracy_decision = accuracy_score(y_test,y_predict_decision)
accuracy_random = accuracy_score(y_test,y_predict_random)
accuracy_kn = accuracy_score(y_test,y_predict_kn)

In [55]:
accuracy_decision

0.8833333333333333

In [56]:
accuracy_random

0.9166666666666666

In [57]:
accuracy_kn

0.8833333333333333